@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

html,
body {
  margin: 0;
  padding: 0;
}

.center {
  text-align: center;
}

nav {
  font-size: 35px;
}

nav ul {
  padding-right: 35px;
}

li {
  display: inline;
  text-decoration: underline;
  padding: 10px 15px;
}

#title {
  font-size: 100px;
  font-family: Oswald;
  font-style: normal;
}

#quote p {
  text-align: center;
  font-size: 80px;
  font-style: italic;
}

header {
  margin: 0;
  padding: 0;
  background-color: #023047;
  color: white;
  overflow: auto;
}

main h2 {
  font-size: 60px;
  margin: 0;
  padding-top: 60px;
  color: #023047;
}

#images {
  background-color: #ffb703;
}

.big {
  font-size: 30px;
}

.tag {
  font-size: 50px;
}
