@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

html {
  height: 100%;
}

body {
  min-height: 100%
}

html,
body {
  margin: 0;
  padding: 0;
}

.oswald {
  font-family: Oswald, sans-serif;
}

.center {
  text-align: center;
}

.tcenter {
  margin-left: auto;
  margin-right: auto;
}

nav {
  font-size: 35px;
}

nav ul {
  padding-right: 35px;
}

nav li {
  display: inline;
  text-decoration: underline;
  padding: 10px 15px;
}

#title {
  font-size: 100px;
  font-style: normal;
}

#quote p {
  font-size: 80px;
  font-style: italic;
}

header {
  margin: 0;
  padding: 0;
  background-color: #023047;
  color: white;
  overflow: auto;
}

main h2 {
  font-size: 60px;
  margin: 0;
  padding-top: 60px;
  color: #023047;
}

#images {
  background-color: #ffb703;
  color: #023047;
}

.s30 {
  font-size: 30px;
}

.tag {
  font-size: 50px;
}

.dotted-table,
th,
td,
tr {
  border: 3px dotted #023047;
  border-collapse: collapse;
  font-size: 25px;
}

#imgexample {
  width: 35px;
  padding-top: 5px;
}

#images ol {
  list-style-position: inside;
}

.mono {
  font-family: monospace;
}

.s20 {
  font-size: 20px;
}